.offer {
	width: 100%;
  	max-width:1200px;
	margin: 0 auto;
	margin-top: 8.6%;
	overflow: hidden;
	@include breakpoint(mobile){
	    margin-top: 25%;
	}
	.wrapper{
		width: 100%;
		h1{
			width: 100%;
			text-align:center;
			font-size: 2rem;
			margin-bottom: 15px;
		}
	}
	.b-table{
		float: left;
    	width: 50%;
    	margin-top: 20px;
    	@include breakpoint(mobile){
	       	width:100%;
	    }

	}
	table{
		margin: 2% auto;
		max-width: 1070px;
		th{
			padding-bottom: 4%;
			padding-top: 1%;
    		font-size: 1.3rem;
	        h2{
	        	text-align: left;
	        	margin-left: 1%;
	        	font-style: italic;
    			text-shadow: 1.5px 0.7px 0.7px #7b7373;
	        	@include breakpoint(mobile){
	          		margin-left: 20px;
	          		text-align: left;
	        	}
	        }
		}
		td{
			p{
				font-size: 1.2rem;
				line-height: 30px;
				margin-left: 1%;
				width: 100%;
				max-width: 220px;
				@include breakpoint(mobile){
	          		margin-left: 15px;
	          		text-align: left;
	        	}
			}
		}
	}
	img{
		width: 100%;
		max-width: 500px;
	}
}